.rounded-circle-user {
    border-radius: 50% !important;
    background-color: #6f42c1;
    color: #fff;
    padding-top: 7px;
    padding-left: 6px;
    width: 34px;
    height: 34px;
    font-size: small;
}