.text-align-right {
    text-align: right;
}
.text-align-center {
    text-align: center;
}
.flight-padding-bottom-15 {
    padding-bottom: 15px;
}

.flight-label {
    font-size: 18px;
}

.flight-search-button-style {
    /*width: 50%;*/
}
.vertical-align {
    vertical-align: middle;
}
.center {
    margin: 0 auto;
}
