<section class="content">

  <div class="container-fluid">

    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/flights">
                <i class="material-icons-two-tone vertical-align">flight</i> Flights
              </a>
            </li>
            <li class="breadcrumb-item active">Offers</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="processing && !hasError">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <mat-spinner class="center"></mat-spinner>
      </div>
    </div>

    <div class="row" *ngIf="!!hasError">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            ERROR
          </div>
          <div class="body table-responsive">
            {{errorMessage}}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-weather class="weatherPanel" [title]="'Departing'" [airport]="airportDeparting"></app-weather>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-weather class="weatherPanel" [title]="'Arriving'" [airport]="airportArriving"></app-weather>
      </div>
    </div>

    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle *ngIf="!isBooked">
        <mat-expansion-panel-header>
          <mat-panel-description>Choose a departing flight</mat-panel-description>
        </mat-expansion-panel-header>

        <app-offers-display title="Departing" 
          [adults]="adults" 
          [children]="children" 
          [datasource]="flightDepartureData"
          (itemEvent)="selectedFlightDeparture($event)"></app-offers-display>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle *ngIf="isRoundTrip && !isBooked">
        <mat-expansion-panel-header>
          <mat-panel-description>Choose a returning flight</mat-panel-description>
        </mat-expansion-panel-header>

        <app-offers-display title="Returning" 
          [adults]="adults" 
          [children]="children" 
          [datasource]="flightReturnData"
          (itemEvent)="selectedFlightReturn($event)"></app-offers-display>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-description>
              <span *ngIf="!isBooked">Review and Book</span>
              <span *ngIf="isBooked"><strong>Booked with {{confirmationNumber}}</strong></span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">

            <span *ngIf="selectedDepartureFlight === null">No Flight Selected</span>

            <table class="flightSelectedDetails" *ngIf="selectedDepartureFlight !== null">
              <tbody>
                <tr>
                  <th>Depart City: </th>
                  <td colspan="4">{{selectedDepartureFlight?.fromDisplayName}}</td>
                </tr>

                <tr>
                  <th>Flight Number: </th>
                  <td>{{selectedDepartureFlight?.flight}}</td>
                  <td class="cellseparator">&nbsp;</td>
                  <th>Duration: </th>
                  <td>{{selectedDepartureFlight?.duration}} (hours)</td>
                </tr>

                <tr>
                  <th>Depart Date: </th>
                  <td>{{selectedDepartureFlight?.departs | date }}</td>
                  <td class="cellseparator">&nbsp;</td>
                  <th>Depart Time: </th>
                  <td>{{selectedDepartureFlight?.departs | date:"h:mm a z"}}</td>
                </tr>

                <tr>
                  <th colspan="5"><hr/></th>
                </tr>

                <tr>
                  <th>Arrival City: </th>
                  <td colspan="4">{{selectedDepartureFlight?.toDisplayName}}</td>
                </tr>

                <tr>
                  <th>Depart Date: </th>
                  <td>{{selectedDepartureFlight?.arrives | date }}</td>
                  <td class="cellseparator">&nbsp;</td>
                  <th>Depart Time: </th>
                  <td>{{selectedDepartureFlight?.arrives | date:"h:mm a z"}}</td>
                </tr>

                <tr>
                  <th colspan="5"><hr/><hr/></th>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th>Depart City: </th>
                  <td colspan="4">{{selectedReturnFlight?.fromDisplayName}}</td>
                </tr>

                <tr>
                  <th>Flight Number: </th>
                  <td>{{selectedReturnFlight?.flight}}</td>
                  <td class="cellseparator">&nbsp;</td>
                  <th>Duration: </th>
                  <td>{{selectedReturnFlight?.duration}} (hours)</td>
                </tr>

                <tr>
                  <th>Depart Date: </th>
                  <td>{{selectedReturnFlight?.departs | date }}</td>
                  <td class="cellseparator">&nbsp;</td>
                  <th>Depart Time: </th>
                  <td>{{selectedReturnFlight?.departs | date:"h:mm a z"}}</td>
                </tr>

                <tr>
                  <th colspan="5"><hr/></th>
                </tr>

                <tr>
                  <th>Arrival City: </th>
                  <td colspan="4">{{selectedReturnFlight?.toDisplayName}}</td>
                </tr>

                <tr>
                  <th>Depart Date: </th>
                  <td>{{selectedReturnFlight?.arrives | date }}</td>
                  <td class="cellseparator">&nbsp;</td>
                  <th>Depart Time: </th>
                  <td>{{selectedReturnFlight?.arrives | date:"h:mm a z"}}</td>
                </tr>

                <tr>
                  <th colspan="5"><hr/><hr/></th>
                </tr>

              </tbody>

              <tbody>
                <tr>
                  <th>Adults: </th>
                  <td>{{adults}}</td>
                  <td class="cellseparator">&nbsp;</td>
                  <th>Children: </th>
                  <td>{{children}}</td>
                </tr>

                <tr>
                  <th>Total: </th>
                  <td colspan="4">{{selectedDepartureFlight?.total + selectedReturnFlight?.total | currency}}</td>
                </tr>
              </tbody>

            </table>

          </div>
        </div>

        <mat-action-row>
          <button mat-raised-button color="warn" (click)="prevStep()" 
            *ngIf="!isBooked">Previous</button>
          <button mat-raised-button color="primary" (click)="book()" 
            [disabled]="isBookDisabled"
            *ngIf="!isBooked">Book</button>
        </mat-action-row>

      </mat-expansion-panel>

    </mat-accordion>    

  </div>
</section>