<section class="content">

    <div class="container-fluid">
  
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/flights">
                  <i class="material-icons-two-tone vertical-align">flight</i> Token</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  
    </div>
  </section>
  